<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3PIXb_1hhxFnAA0eRL-CeO7BgNU8xKfs</string>
	<key>GCM_SENDER_ID</key>
	<string>954690373529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tcc.tinotea</string>
	<key>PROJECT_ID</key>
	<string>tino-t-e-a-8wxpac</string>
	<key>STORAGE_BUCKET</key>
	<string>tino-t-e-a-8wxpac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954690373529:ios:50f81b83a85c2d718df508</string>
</dict>
</plist>